{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Home - Tryche</title>
    
    <style>

    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'Trycheapp/css/home.css' %}">



    
</head>
<body>
    <div class="navbar">
        <a href="page2.html">Button 2</a>
        <a href="page3.html">Button 3</a>
        <!-- Add more buttons as needed -->
    </div>

    <div class="header">
        <img src="{% static 'images/HeaderImg-Landscape.jpg' %}" alt="Your Image">
        <div class="tinted-overlay"></div>
        <h1 class="header-title" > Bring out your inner wild</h1>

    </div>

    <div style="height: 1500px;">
        <!-- This is just a placeholder to make the page long enough to scroll -->
    </div>
</body>


</html>